{{ if eq .chezmoi.os "linux" }}
alias cat="bat --style=plain"
alias ll="exa -la"
alias scode="sudo code --user-data-dir=~/root"
alias pbcopy="xsel --clipboard --input"
alias pbpaste="xsel --clipboard --output"
fish_add_path $HOME/.local/bin
{{ end }}