k9s:
  liveViewAutoRefresh: false
  {{ if eq .chezmoi.os "linux" }}
  screenDumpDir: /home/rafaribe/.local/k9s/screendumps
  {{ end }}
  {{ if eq .chezmoi.os "darwin" }}
  screenDumpDir: /Users/rafaribe/Library/Application Support/k9s/screen-dumps
  {{ end }}
  refreshRate: 2
  maxConnRetry: 5
  readOnly: false
  noExitOnCtrlC: false
  ui:
    enableMouse: true
    headless: false
    logoless: false
    crumbsless: false
    reactive: false
    noIcons: false
  skipLatestRevCheck: false
  disablePodCounting: false
  shellPod:
    image: busybox:1.35.0
    namespace: default
    limits:
      cpu: 100m
      memory: 100Mi
  imageScans:
    enable: false
    exclusions:
      namespaces: []
      labels: {}
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: -1
    fullScreen: false
    textWrap: false
    showTime: false
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
